// Custom theme variables
/* Example 
$brand-dark-green-1: #173940;
$brand-dark-green-2: #54767B;
$brand-light-green: #C7EBCA;
$brand-mid-green: #3E656A;
$brand-white-grey: #F5F5F5;
$brand-light-grey: #9CB1B3;

$font-weight-medium: 500; */

// Bootstrap overrides ref: node_modules/bootstrap/scss/variables.scss 
/* Example 
$font-family-sans-serif:  'Source Sans Pro', sans-serif;

$body-bg: $brand-white-grey;
$body-color: $brand-dark-green-2;
$link-color: $brand-dark-green-2;
$link-hover-color: $brand-light-green; */